/* styles.css */

/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
nav {
    background-color: #fcf9f9;
    padding: 10px;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #acd80c;
}

/* Header Section */
header { 
    background-color: #acd80c;
    text-align: center;
    padding: 50px 0;
}
header h1 {
    font-size: 36px;
    color: #d6cdcd;
}

/* Main Content Area */
main {
    padding: 20px;
}
section {
    margin-bottom: 30px;
}
h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}
article {
    background-color: #fffbfb;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}
article h3 {
    font-size: 18px;
    color: #131313;
    margin-bottom: 10px;
}
article p {
    color: #141414;
}

/* Footer */
footer {
    background-color: #8b8181;
    color: #f3e8e8;
    text-align: center;
    padding: 20px 0;
}
footer p {
    font-size: 14px;
}
footer a {
    color: #fff;
}
